body {
    background-color:  #78d3c8!important;
}

.counter-box {
    background-color: aliceblue;
    border: yellow 1px solid;
    color: blue;
    font-size: 13px;
    height: 5.5rem;
    margin: 1rem!important;
    width: 36rem!important;
}

.counter {
    border: yellow 1px solid;
    border-collapse: collapse;
    display: flex;
    height: 5.5rem;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 25%;
}

.counter-title {
    bottom: 2rem;
    position: absolute;
    width: 60%;
}

.counter-value {
    bottom: 0.5rem;
    position: absolute;
}
